.footer {
    padding: 20px;
    text-align: center;
    margin-top: 40px;
    font-size: 15px;
}

.copyright {
    color: gray;
}

.footer-link {
    text-decoration: none;
    color: white;
    transition: color 1s;
    padding-left: 8px;
}