img {
    height: 300px;
    border-radius: 50%;
}

.image {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* max-width: 600px */

@media screen and (max-width: 768px) {
    img {
        height: 250px;
        border-radius: 50%;
    }
}